.graticule {
    fill: none;
    stroke: #777;
    stroke-opacity: .5;
    stroke-width: .5px;
}

.land {
    fill: green;
}

.boundary {
    fill: none;
    stroke: #000;
    stroke-width: .5px;
}

.chart {
    background: lightblue;
}